<h1>Strona glowna</h1>
<p>Ostatnie książki</p>
<div id="latests">
	<% Book.last(5).reverse.each do |l| %>
		<p>
		<%= link_to l.title, :controller => "books", :action => "show", :id => l.id %>
		</p>
	<% end %>
</div>